 body {
            margin: 0;
            transition: background-color 0.3s, color 0.3s;
        }

        /* Navbar */
        .navbar {
            background-color: darkblue;
            padding: 12px 20px;
        }

        .navbar-brand {
            font-weight: bold;
            color: white;
        }

        .navbar-brand span {
            color: #0d6efd;
        }

        .nav-link {
            color: white !important;
            font-size: 16px;
        }

        .nav-link:hover {
            text-decoration: underline;
              color: green

        }

        /* Hero */
        .hero {
            height: 400px;
            background: linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
            ),
            url("https://images.unsplash.com/photo-1605902711622-cfb43c4437d1");
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            text-align: center;
        }

        .hero h1 {
            font-size: 48px;
        }

        .hero p {
            font-size: 18px;
        }

        /* Dark Mode */
        body.dark-mode {
            background-color: #121212;
            color: white;
        }

        body.dark-mode .navbar {
            background-color: #000;
        }

        body.dark-mode .nav-link {
            color: #fff !important;
        }

        body.dark-mode .hero {
            background: linear-gradient(
                rgba(0, 0, 0, 0.7),
                rgba(0, 0, 0, 0.7)
            ),
            url("https://images.unsplash.com/photo-1605902711622-cfb43c4437d1");
        }

        /* Toggle icon */
        #themeToggle {
            width: 28px;
            cursor: pointer;
        }

body.dark-mode #themeToggle {
    filter: invert(1);
}

.left{
    width: 100%;

margin-left:0px
}

.left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 padding-right: 20px;
}

.right{
    width: 100%;
    padding: 30px;
    color: black;
text-align: left;
 display: flex;
    flex-direction: column;
    align-items: flex-start;  /* left side align */
}

.right h2{
    text-align: center;
    margin-bottom: 20px;
}

.container{
    display: flex;
    width: 1000px;
  
    overflow: hidden;
   
 margin-top: 30px;
margin-bottom:20px;
}
/* Dark mode - Register section text color */
body.dark-mode .right {
    color: white;
}

body.dark-mode .right a {
    color: #0d6efd; /* link blue */
}
.gallery{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    gap:10px;
    padding:20px;
}

/* All images */
.gallery img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:8px;
    transition:0.3s ease;
}

/* Hover effect */
.gallery img:hover{
    transform:scale(1.05);
}

/* Different sizes (like collage layout) */
.big{
    grid-column: span 2;
    grid-row: span 2;
}

.tall{
    grid-row: span 2;
}

.wide{
    grid-column: span 2;
}

/* Responsive */
@media(max-width:768px){
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:480px){
    .gallery{
        grid-template-columns: 1fr;
    }
}

/* Section */
.quick-links{
    padding:60px 40px;
    text-align:center;
}

/* Heading */
.quick-links h1{
    font-family: 'Baloo 2', cursive;
    font-size:70px;
    color:#173a59;
    margin-bottom:50px;
}

/* Grid Layout */
.links-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:80px;
    max-width:1000px;
    margin:0 auto;
}

/* Each Item */
.link-item{
    text-align:center;
}

/* Icons */
.link-item img{
    width:120px;
    margin-bottom:20px;
}

/* Link Text */
.link-item a{
    text-decoration: underline;
    color:#173a59;
    font-size:24px;
    font-weight:500;
}

/* Divider lines */
.links-container div{
    position:relative;
}

.links-container div:nth-child(1)::after,
.links-container div:nth-child(2)::after,
.links-container div:nth-child(4)::after,
.links-container div:nth-child(5)::after{
    content:"";
    position:absolute;
    right:-40px;
    top:20%;
    width:2px;
    height:60%;
    background:#8ea1a8;
}

/* Normal Mode */
.quick-links h1 {
    color: black;
}

.quick-links a {
    color: black;
    text-decoration: none;
}

/* Dark Mode */
body.dark-mode .quick-links h1 {
    color: white;
}

body.dark-mode .quick-links a {
    color: white;
}

.right h2,
.right p {
    margin-left: 0;
    padding-left: 0;
}
.right h2 {
    margin-bottom: 10px;   /* heading keela konjam space */
}

.right p {
    margin-top: 0;
}

